<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!-- 打印sql -->
        <property name="hibernate.show_sql">true</property>
        <!-- 对数据库表的操作 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="com/xiaowei/hibernate/xml/pojo/Message.hbm.xml" />
        <mapping resource="com/xiaowei/hibernate/xml/pojo/Advert.hbm.xml" />
        <mapping resource="com/xiaowei/hibernate/xml/pojo/Category.hbm.xml" />
        <mapping resource="com/xiaowei/hibernate/xml/pojo/User.hbm.xml" />
    </session-factory>
</hibernate-configuration>